$small-desktop: 1110px;

$ipad-landscape: 1024px;

$tablet-portrait: 959px;


@mixin ipad-landscape {
  @media only screen and (max-device-width: $ipad-landscape) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop}) {
    @content;
  }
}

@mixin ipad-portrait {
  @media (min-width: #{$tablet-portrait}) {
    @content;
  }
}

@mixin breakpoint($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}


// @media only screen and (max-device-width: 1024px){
// 	body {-webkit-text-size-adjust: none;}
// 	section {
// 		background: none;
// 		header {
// 			h2 {
// 				position: absolute!important;
// 				//width: 100%;

// 			}
// 		}		
// 	}
// 	#front-page header {
// 		background-image: url('/images/background/sections/guitarra_1.jpg');

// 	}
// 	#next-performances {
// 		header {
// 			background-image: url('/images/background/sections/last-record.jpg');
// 			background-size: cover; 
// 		}
// 	}
// 	#biography {
// 		header {
// 			background-image: url('/images/background/sections/biography.jpg');
// 		}
// 	}
// 	#discography header {
// 		background-image: url('/images/background/sections/leaving.jpg');
// 		background-size: cover;
// 	}
// 	#next-performances, #biography, #discography {
// 		// header {
// 		// 	h2 {
// 		// 		text-align: left;
// 		// 		top: inherit;
// 		// 		bottom: 30px;
// 		// 		left: 57%;
// 		// 	}
// 		// }
// 	}

// }


// @media only screen and (max-width: 1110px) {
// 	article .content, footer form {
// 			width: 85%;
// 	}
// }

// //iPad land scape
// @media only screen and (max-device-width: 1024px){
	

// }
// @media only screen and (max-width: 890px){

// }

// @media only screen and (max-width: 986px) {

// }
// /********* iPad Style (portrait) ***********/

// @media only screen and (max-width: 959px) {


// }

// /************ iPhone Style (Portrait) **************/

// @media only screen and (max-width: 767px){
	
// }
// @media only screen and (max-width: 704px) {
	
// }

// @media only screen and (max-width: 640px) {
	
// }

// /************ iPhone Style (LANDSCAPE) **************/

// @media only screen and (max-width: 480px){

// }

// @media only screen and (max-width: 450px) {

// }
// @media only screen and (max-width: 354px) {

// }