/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/css3";
@import "compass/utilities";
@import "styles/normalize";
@import "styles/typography";
@import "styles/layout";
@import "styles/backgrounds";
@import "styles/colors";
@import "styles/shadows";
@import "styles/media_queries";
@import "modularscale";

// %btn {
// 	@include border-radius(2px);
// 	@include box-sizing(border-box);
// 	height: 29px;
// }
// %btn-golden {
// 	@extend %btn; 
// 	color: darken($mid-brown, 40%);
// 	background: $mid-brown;
// 	border: 1px solid lighten($mid-brown, 7%);
// 	@include text-shadow(1px 1px 0px lighten($mid-brown, 15%));	
// }
// %btn-gray {
// 	@extend %btn; 
// 	color: darken($btn-default-color, 40%);
// 	background: $btn-default-color;
// 	border: 1px solid lighten($btn-default-color, 7%);
// 	@include text-shadow(1px 1px 0px lighten($btn-default-color, 15%));	
// }


html {
	width: 100%;
}

body {
	width: 100%;
	@extend .mid-gray-background;
	@extend .lighter-background;
	@include ipad-landscape {
		-webkit-text-size-adjust: none;
	}
}
p { 
	@extend .body-text;
	color: $body-text-color;	
}
blockquote { 
	
	color: $body-text-color;
	// p:first-child {
	// 	@extend .quote-text;
	// 	font-style: italic;
	// 	width: 100%;
	// 	&::before {
	// 		color: $lightest-gray;
	// 		font-family: 'fontawesome';
	// 		font-size: 97px;
	// 		position: absolute;
	// 		content: "\f10d";
	// 		margin-top: 36px;
	// 		margin-left: -117px;
	// 	}
		
	// }
	// .credit {
	// 	@extend .quote-text;
	// 	font-size: 17px;	
	// }		
}
a { color: $highlight-text-color; }
ul {
	padding: 0;
	list-style-type: none;
}
nav {
	@include box-sizing(border-box);
	//width: 100%;
	height: 50px;
	position: fixed;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.9);
	@include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
	li {
		display: inline-block;
		a {
			text-decoration: none;
			color: $white;
			padding: 12px;
			line-height: 36px;	
		}
	}
	h1 {
		float: left;
		margin-bottom: 0;
		margin-top: 15px;
	}
	ul {
		float: right;
		margin-right: 25px;
	}

}

section{
	
	@include breakpoint(800px) {
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	header {
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		position: relative;
		height: 205px;
		
		h2 {
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
			text-transform: uppercase;
			color: $white;
			display: block;
			cursor: pointer;
			text-align: center;
			font-size: 40px;
			position: absolute;
			bottom: 20px;
			span.miguel {
				display: block;
				font-family: "main-header";
				font-weight: normal;
				text-transform: none;
				
			}
			@include small-desktop {
				font-size: 90px;
				line-height: 80px;
				font-weight: bold;
				
				left: 50%;
				margin: -80px 0 0 -480px;
				position: absolute;
				text-align: center;
				
				top: 50%;
				width: 960px;
				span.miguel {
					font-size: 137px;
					margin-bottom: 40px;
				}
			}
			// @include ipad-landscape {
			// 	position: absolute!important;
			// }
		}
	}
	// @include ipad-landscape {
	// 	background: none;
	// }
}

article {
	@include clearfix;
	//min-height: 705px;
	background-color: white;
	padding-bottom: 20px;
	padding-top: 75px;
	@include box-sizing(border-box);
	@include box-shadow(0px 0px 30px rgba(0, 0, 0, 0.9));
	position: relative;
	z-index: 10;
	.content {
		//@include clearfix;
		@include box-sizing(border-box);
		padding: 0 30px;
		width: 100%;
		margin: 0;
		
		padding-bottom: 75px;
		@include breakpoint(525px) {
			padding: 0 60px;
		}

		@include small-desktop {
			width: 960px;
			margin: 0 auto;
		}
	}
	.content + blockquote {
		width: 100%;
		border-top: 1px dashed $light-gray;
		margin: 0;
		padding-top: 40px;
		p {
			width: 400px;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}
}

// footer {
// 	background-color: rgb(60, 59, 58);
// 	padding: 77px 0 33px 0;
// 	.content {
// 		overflow: hidden;
// 	}
// 	form {
// 		color: $white;
// 		overflow: hidden;
// 		width: 62%;
// 		float: left;
// 		@include box-sizing(border-box);
// 		padding-right: 3%;
// 		border-right: 1px dashed gray;
// 		legend {
// 			@extend .big-headline-text;
// 			font-size: 50px;
// 		}
// 		label, input, textarea {
// 			display: block;
// 		}
// 		input, textarea {
// 			width: 100%;
// 			height: 29px;
// 			@include box-sizing(border-box);
// 			@include border-radius(2px);
// 			padding: 7px;
// 			border: none;
// 			outline: none;
// 			background-color: $white;
// 			&:focus {
// 				@include box-shadow(inset 0px 0px 1px black);
// 				background-color: $white;
// 			}
			
// 		}
// 		textarea {
// 			height: 140px;
// 		}
// 		.input {
// 			margin-bottom: 17px;
// 		}
// 		.input.message, .input-group {
// 			width: 47%;
// 		}
// 		.input.message {
// 			float: right;

// 		}
// 		.input-group {
// 			float: left;
// 		}
// 		button {
// 			@extend %btn-gray;
// 			width: 47%;
// 			font-weight: bold;
// 			text-transform: uppercase;
// 			span {
// 				line-height: 1.5;
// 			}
// 		}
// 	}
// 	.social {
// 		float: right;
// 		width: 35%;
// 		h2 {
// 			@extend .big-headline-text;
// 			font-size: 50px;
// 			margin-top: 0;
// 			color: $white;
// 		}
// 	}
// }
// #last-record {
// 	background-image: url('/images/background/sections/guitarra_1.jpg');
// 	background-position: 28% center;
// 	h2 {position: fixed;}
// 	h2.hidden {position: absolute;}
// 	.content {
// 		overflow: hidden;
// 	}
// 	.record {overflow: hidden;}
// 	.record-info {
// 		.group {
// 			display: none;
// 		}
// 		h3 {
// 			@extend .big-headline-text;
// 			text-transform: uppercase;
// 			margin: 0;
// 			font-weight: normal;
// 		}
// 		p {
// 			font-size: 27px;
// 			color: rbb(200, 200, 200);
// 		}	
// 	}
// 	.record-links {
// 		clear: both;
// 	}
// }

#front-page {
	
	header {
			background-image: url('/images/background/sections/guitarra_1.jpg');
		}
	@include small-desktop {
		header {
			background: none;
		}
		background-image: url('/images/background/sections/guitarra_1.jpg');
		background-position: 28% center;
	}
	//@include transition(background 4s ease-in-out);
	
	h2 {
		@include small-desktop {
			position: fixed;
		}
	}
	.video-wrapper {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		.video-container {
			@include transition(opacity 1s ease-in-out);
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: none;
		}
		
	}
	.play-video-button {
		#icon-play {
			-webkit-filter: drop-shadow( 0 0 10px rgba(0, 0, 0, 0.6) );
            filter: drop-shadow( 0 0 10px rgba(0, 0, 0, 0.6) );
		}
		opacity: 0;
		background: none;
		outline: none;
		border: none;
		width: 105px;
		@include transition(all 0.3s ease-in-out);
		span {
			font-size: 16px;
			color: white;
			display: block;

		}

	}
	&.video-ready {
		.play-video-button {
			@include transform(scale(1));
			@include transition(opacity 0.3s ease-in-out);
			opacity: 1;
		}
	}
	&.video-active {
		//background: black;
		.video-wrapper {
			z-index: 1;
			.video-container {
				@include transition(opacity 1s ease-in-out);
				opacity: 1;
				pointer-events: auto;
				
			}
		}	
		.play-video-button {
			@include transition(all 0.15s ease-in-out);
			opacity: 0;
			@include transform(scale(20));
		}
	}
	.content {
		p {
			
 			&:first-letter {
 				font-family: "main-header";
 				font-size: 130px;
 				line-height: 124px;
 				margin-bottom: -25px;
 				padding-right: 15px;
 				font-weight: 800;
 				color: $black;
 				float: left;
 				display: block;
 			}
 			@include small-desktop {
 				@include column-count(2);
				@include column-gap(80px);
 				@include column-rule(3px solid lighten($mid-gray, 15%));
 				text-align: justify;	
 			}
		}
	}
	
}

#next-performances {
	background-image: url('/images/background/sections/last-record.jpg');
	// @include ipad-landscape {
	// 	header {
	// 		background-image: url('/images/background/sections/last-record.jpg');
	// 		background-size: cover; 
	// 	}
	// }
}

#discography {
	background-image: url('/images/background/sections/leaving.jpg');
	@include ipad-landscape {
		header {
			background-image: url('/images/background/sections/leaving.jpg');
			background-size: cover;
		}
	}
}


footer .content {
	//@include clearfix;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 75px;
}
// #last-record h2 span:not(.miguel){
// 	// color: black;
// 	// background-color: white;
// 	// text-shadow: none;
// 	//color: darken(white, 10%);	
// }

#logo {
	@include box-sizing("border-box");
	@extend .miguel-rincon-typeface;
	display: block;
	margin-left: 25px;
	line-height: 34px;
	color: $white;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	text-decoration: none;
}


//PERFORMANCES STYLES

#next-performances {
	
	time {
		float: left;
		display: block;
	}
}
.day { 
	margin: 0;
	padding: 0;
	@extend .big-number;
	color: $black;

}
.year {
	@extend .huge-number;
	color: $lightest-gray;
	text-align: right;
	margin-top: 0px;
	margin-bottom: -18px;
	line-height: 91px;
	z-index: -1;
}
.month {
	@extend .mid-headline-text;
	color: $black;
	margin-top: 12px;
	margin-bottom: 0px;
	line-height: 43px;
}
.month-performances {
	margin-left: 20%;
	margin-top: -78px;
	margin-bottom: ms(4);
}
.year-performances {
	margin-bottom: ms(4);
}
.performance-info {
	@extend .body-text;
	line-height: ms(0.5);
	@include box-sizing(border-box);
	min-height: 80px;
	padding: 0 ms(1);
	margin-left: 140px;

	border-left: 3px solid $mid-gray;
}

.address {
	display: inline;
}
.performance {
	@include box-sizing(border-box);
	margin-top: ms(2);
	display: inline-block;
	vertical-align: top;
	width: 100%;
	.name {
		font-style: italic;
	}
}
.location {
	margin-bottom: ms(-1);
}
.city {
	@extend .small-headline-text;
}
.place {
	&:before {
		content: " - ";
	}
}
.country, .program {
	color: $mid-gray;
}
.country {
	//border-left: 1px solid $mid-gray;
}
//Records style

.records {
	@include clearfix;
	h3 {
		a{
			text-decoration: none;
		}
	}

	.record {
		@include clearfix;
		margin: 0;
		float: left;
		width: 33.33%;
		position: relative;
		@include transition(all 0.2s ease-in-out);
		img {
			width: 100%;
			display: block;
			//@include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
		}
		
	}
	.record-info {
		//display: none;
		@include box-sizing(border-box);
		padding: 7%;
		position: absolute;
		top: 100%;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255,255,255, 0.8);
		z-index: 101;
		margin-bottom: -4px;
		@include transition(all 0.2s ease-in-out);
		//border-top: 1px solid white;
		h3	 {

		}
		h4 {

		}	
		span {

		}
		

	}
}
.records {
	.record-info {
		//d//isplay: none;
	}
}
.record:hover {
	.record-info {
		//display: block;
		// -webkit-transform: translate(0px,-100%);
		// -moz-transform: translate(0px,-100%);
		// -o-transform: translate(0px,-100%);
		// transform: translate(0px,-100%);
		top: 0;
		@include transition(all 0.2s ease-in-out);
		&:after {
			top: 0;
		}
	}
}


.spotify, .itunes, .amazon {
	text-indent: -99999px;
	display: inline-block;
	margin: 12px;

}
.spotify a, .itunes a, .amazon a {
	display: block;
	background-size: 64px;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	
}
.spotify a{
	background-image: url('/images/logos/spotify.png');	
}
.itunes a{
	background-image: url('/images/logos/itunes.png');
}
.amazon a{
	background-image: url('/images/logos/amazon.png');
}


// @media only screen and (max-width: 1110px) {
// 	article .content, footer form {
// 			width: 85%;
// 	}
// }

//iPad land scape
// @media only screen and (max-device-width: 1024px){
// 	body {-webkit-text-size-adjust: none;}
// 	section {
// 		background: none;
// 		header {
// 			h2 {
// 				position: absolute!important;
// 				//width: 100%;

// 			}
// 		}		
// 	}
// 	#front-page header {
// 		background-image: url('/images/background/sections/guitarra_1.jpg');

// 	}
// 	#next-performances {
// 		header {
// 			background-image: url('/images/background/sections/last-record.jpg');
// 			background-size: cover; 
// 		}
// 	}
// 	#biography {
// 		header {
// 			background-image: url('/images/background/sections/biography.jpg');
// 		}
// 	}
// 	#discography header {
// 		background-image: url('/images/background/sections/leaving.jpg');
// 		background-size: cover;
// 	}
// 	#next-performances, #biography, #discography {
// 		// header {
// 		// 	h2 {
// 		// 		text-align: left;
// 		// 		top: inherit;
// 		// 		bottom: 30px;
// 		// 		left: 57%;
// 		// 	}
// 		// }
// 	}

// }
// @media only screen and (max-width: 890px){
// 	// .navigation {
// 	// 	width: 49px;
// 	// 	height: 49px;
// 	// 	position: fixed;
// 	// 	top: 0;
// 	// 	right: 0;
// 	// 	ul {
// 	// 		@include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
// 	// 		background: black;
// 	// 		width: 200px;
// 	// 		position: fixed;
// 	// 		right: -205px;
// 	// 		top: 0;
// 	// 		bottom: 0;
// 	// 		margin: 0;
// 	// 		padding-top: 40px;
// 	// 		@include transition-property(right);
//  //  			@include transition-duration(0.3s);
//  //  			@include transition-timing-function(ease-in);
// 	// 		li {
// 	// 			display: block;
// 	// 			width: 100%;
// 	// 		}
// 	// 	}
// 	// 	&.active {
// 	// 		ul {
// 	// 			right: 0;
// 	// 		}
// 	// 	}
// 	// }
// 	section {
// 		header {
// 			height: 400px;
// 			background-size: auto 400px;
// 		}
// 	}
// }

// @media only screen and (max-width: 986px) {
// 	section {
// 		header h2 {
// 			//width: 100%;
// 			// margin: -80px 0 0 -50%;
// 		}
// 	}
// 	span.miguel { 
// 		font-size: 100px; 
// 		margin-bottom: 16px;
// 	}
// 	#front-page {
// 		h2 { font-size: 66px;}
// 	}	
// }
// /********* iPad Style (portrait) ***********/

// @media only screen and (max-width: 959px) {

// 	#front-page {
// 		.content p {
// 			@include column-count(1);
// 		}
// 	}
// 	#next-performances, #biography, #discography {
// 		header {
// 			h2 {

// 			}
// 		}
// 	}
// }

// /************ iPhone Style (Portrait) **************/

// @media only screen and (max-width: 767px){
// 	#front-page {
// 		blockquote {

// 			width: 100%;
// 			float: none;
// 			margin-top: 40px;
// 			padding-left: 0;

// 		}
// 		.record-info {

// 			display: inline-block;
// 			width: 100%;
// 		}
// 		.cover {
// 			width: 100%;
// 			float: none;
// 			padding-right: 0;
			

// 		}
// 	}
// }
// @media only screen and (max-width: 704px) {
// 	section {
// 		header 	h2 {
// 			font-size: 65px;
// 		}
// 	}
// 	span.miguel { 
// 		font-size: 70px; 
// 		margin-bottom: -11px;
// 	}
// 	#front-page {
// 		h2 { font-size: 47px;}
// 	}	
// }

// @media only screen and (max-width: 640px) {
// 	.records {
// 		.record {
// 			width: 47.5%;
// 		}
// 	}
// }

// /************ iPhone Style (LANDSCAPE) **************/

// @media only screen and (max-width: 480px){
// 	section {
// 		header {
// 			height: 290px;
// 		}
// 	}
// 	section:not(#front-page) {
// 		header {

// 			h2 {
// 				font-size: 47px;
// 				line-height: 105px;
// 			}
// 		}
// 	}
// 	nav h1 { font-size: 38px;}
// }

// @media only screen and (max-width: 450px) {
// 	.records {
// 		.record {
// 			width: 100%;
// 		}
// 	}
// }
// @media only screen and (max-width: 354px) {
// 	nav h1 a{ font-size: 38px!important;}
// }