$dark-brown: #5a3d32;
$brown: #8b2f0f;
$mid-brown: #e5a337;
$light-brown: #d4bd92;
$blue: #2f63c2;

$black: #423f37;
$dark-gray: #57534a;
$mid-gray: #736f65;
$light-gray: #d6d0c8;
$lightest-gray: #f5f3f0;
$white: #f5f4f2;
$white: white;



$strong-text-color: $black;
$body-text-color: $dark-gray;
$highlight-text-color: $dark-brown;

$main-background-color: $white;

$btn-default-color: #615E58;