@import "styles/colors";

$small-padding: 7%;
$small-vertical-padding: 20px;
$top-bar-height: 50px;
$smal-section-header-height: 200px;
$medium-section-header-height: 300px;
$top-bar-bg: rgba(0, 0, 0, 0.9);
$menu-animation-time: 0.25s;
$side-menu-width: 175px;

$social-button-size: 40px;
$footer-bg: $alt-black;
$footer-font-color: white;
$link-transition-duration: 0.1s;
